.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    height: 50px;
  }
  

  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-button {
    margin-left: 10px;
    padding: 16px 24px;
    border: none;
    background-color: #d35757;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
  }
  
  .navbar-button:hover {
    background-color: #777;
  }
  